{%extends "layout.html"%}
{% load static %}

{%block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-cntent-center align-items-center">
    
      
  </section><!-- End Hero -->

  

    <!-- ======= Icon Boxes Section ======= -->
    <section id="icon-boxes" class="icon-boxes">
      <div class="container">

        <div class="row">
          <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title" id="add_floor"><a href="upload">Add floor</a></h4>
              <p class="description">Upload a 2D pla and sketch the area and tag categories</p>
            </div>
          </div>

        

          <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up"
            data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="invoice">Floor plan invoice</a></h4>
              <p class="description">Handpick the product in the floor with required units. </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Icon Boxes Section -->

    <section>
      <div class="container">
        <div class="row" id="floor-list">

        </div>
      </div>
    </section>


{%endblock%}

{%block script%}
<script>
  
</script>
{%endblock%}