{%extends "layout.html"%}
{% load static %}

{%block content %}
<div class="container" style="margin-top:100px" >
    <select class="form-select w-25" aria-label="Default select example" id="selectFloor">
    </select>

    <div class="text-end">
        <button type="button" id="add" class="btn btn-primary mt-4"> upload Invoice</button>
    </div>

    <div id="tabList" class="table-responsive mt-3 w-100">
        <table class="table table-bordered" >
            <thead>
                <tr class="text-center">
                    <th scope="col-2">Product name</th>
                    <th scope="col-2">Height</th>
                    <th scope="col-3">Width</th>
                    <th scope="col-3">Quantity</th>
                    <th scope="col-3">Quantity Required</th>
                    <th scope="col-3">Add</th>
                </tr>
            </thead>
            <tbody class="text-center" id="invoice_table">

            </tbody>
        </table>

        <div id="heatmap">
        </div>
    </div>


</div>
{%endblock%}
{%block script%}
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="{% static 'js/invoice.js' %}"></script>
{%endblock%}
</html>