{%extends "layout.html"%}
{% load static %}

{%block custom_styles %}
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/upload.css' %}">
<style>
    .form {
        display: none;
    }

    .table-wrap {
        border: 2px solid blue;
        position: relative;
    }
</style>
{%endblock%}
{%block content %}

<div class="container-fluid py-4">
    <div class="content mt-5">
        <div class="row">
            <div class="col-lg-6 col-sm-12 border">
                <div id="wrapper" class="canWidth">
                    <canvas id="canvas" class="text-center">
                    </canvas>
                    <div id="form" class="card shadow-none p-3  bg-light rounded form" style="width: 22rem;">
                        <form onsubmit="categoryTag(event)" id="tagging_form">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Category</label>
                                <input type="text" class="form-control" id="cat" placeholder="Category" required>
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Width</label>
                                <input type="text" class="form-control" id="wid" placeholder="Width" required>
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput2">length</label>
                                <input type="text" class="form-control" id="len" placeholder="Lengthh" required>
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Quantity</label>
                                <input type="text" class="form-control" id="quan" placeholder="Quantity" required>
                            </div>
                            <div class="mt-2">
                                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                                <button type="button" onclick="clearCircle()"
                                    class="btn btn-secondary btn-sm">cancel</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12" style="margin-top:100px">
                <div class="row p-3">
                    <div class="col-12">
                        <input type="file" class="form-control text-center btn-primary btn-sm" id="img-input" />Upload
                        Floor

                    </div>
                </div>
                <form class="w-50 d-flex">
                    <input type="text" name="Height" id="height-floor" class="form-control text-center"
                        style="margin-left:20px" placeholder="Height">
                    <input type="text" name="width" id="width-floor" class="form-control text-center"
                        style="margin-left:20px" placeholder="width">
                    <input type="text" name="Floor name" id="name-floor" class="form-control text-center"
                        style="margin-left:20px" placeholder="Floor name">
                </form>




                <div class=" table-responsive mt-5 w-100">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <th>Area ID</th>
                            <th>Category</th>
                            <th>Width</th>
                            <th>Length</th>
                            <th>Quantity</th>
                            <th>Delete</th>

                        </thead>
                        <tbody id="area_list">

                        </tbody>
                    </table>
                </div>

                <div class="text-end" style="margin-top:250px; margin-right:75px">
                    <!-- <button type="reset" class="btn btn-secondary"> cancel</button> -->
                    <button type="button" class="btn btn-primary" id="finalize-json">submit</button>
                </div>


            </div>
        </div>

    </div>
</div>


{%endblock%}
{%block script %}
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script> -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    const canvas = document.getElementById("canvas");

    const ctx = canvas.getContext("2d");
    let box = document.querySelector('.canWidth');
    let canwidth = box.offsetWidth;
    let canheight = box.offsetHeight;
    const MAX_WIDTH = canwidth;
    const MAX_HEIGHT = canheight;
    const MIME_TYPE = "image/jpeg";
    const QUALITY = 0.7;
    const img = new Image();
    var newWidthDemo;
    var newHeightDemo;
    var blobURL;
    var file;
    const reader = new FileReader();
            

    const input = document.getElementById("img-input");
    input.onchange = function (ev) {
    
        file = ev.target.files[0]; // get the file
        reader.readAsDataURL(file);
       
        blobURL = URL.createObjectURL(file);

        img.src = blobURL;
        img.onerror = function () {
            URL.revokeObjectURL(this.src);
            // Handle the failure properly
            console.log("Cannot load image");
        };
        img.onload = function () {
            URL.revokeObjectURL(this.src);
            const [newWidth, newHeight] = calculateSize(img, MAX_WIDTH, MAX_HEIGHT);
            newWidthDemo = newWidth
            newHeightDemo = newHeight
            // const canvas = document.createElement("canvas");
            canvas.width = newWidth;
            canvas.height = newHeight;
            // const ctx = canvas.getContext("2d");
            ctx.drawImage(img, 0, 0, newWidth, newHeight);
            canvas.toBlob(
                blob => {
                    // Handle the compressed image. es. upload or save in local state
                    //   displayInfo('Original file', file);
                    //   displayInfo('Compressed file', blob);
                },
                MIME_TYPE,
                QUALITY);

            // document.getElementById("root").append(canvas);
        };
    };

    // const reader = new FileReader();
    // const img = new Image();
    // img.width = 800;
    // img.height = 800;

    // const uploadImage = (e) => {
    //     reader.onload = () => {
    //         img.onload = () => {
    //             canvas.width = img.width;
    //             canvas.height = img.height;

    //             ctx.drawImage(img, 0, 0);
    //         };
    //         img.src = reader.result;
    //     };
    //     reader.readAsDataURL(e.target.files[0]);
    // };

    // const imageLoader = document.getElementById("uploader");
    // imageLoader.addEventListener("change", uploadImage);

    // function download() {
    //     const image = canvas.toDataURL();
    //     const link = document.createElement("a");
    //     link.href = image;
    //     link.download = "image.png";
    //     link.click();
    // }

    // document.querySelector("button").addEventListener("click", download);
</script>
<script>
    var tagJson = []
    var tagCord = []
    $("#canvas").click(function (e) {
        getPosition(e);
        var getid = e.target.id;
        var mouseX = e.pageX;
        var mouseY = e.pageY;

        console.log(mouseX + " " + mouseY); //shows coordinates

        $('#form').show();
        $('#form').offset({
            left: mouseX,
            top: mouseY
        });
    });

    var pointSize = 6;

    function getPosition(event) {
        var rect = canvas.getBoundingClientRect();
        var x = event.clientX - rect.left;
        var y = event.clientY - rect.top;

        // drawCoordinates(x, y);
        tagCord.push({
            x: x,
            y: y
        })
        console.log(tagCord, ":::::::::::::::::::::")
    }

    function drawCoordinates(x, y, cat) {
        var ctx = document.getElementById("canvas").getContext("2d");

        console.log(x, y, "??????????????????", cat)
        ctx.fillStyle = "blue"; // Red color
        ctx.beginPath();
        ctx.arc(x, y, pointSize, 0, Math.PI * 2, true);
        ctx.fill();

        ctx.fillStyle = "white";
        ctx.font = '15px serif';
        ctx.fillText(tagJson.length, x - 3, y + 5);
    }

    function redraw() {
        console.log(img, "triggered >>>>>>>>>>>>>>>>>>>>>>", tagCord)
        ctx.drawImage(img, 0, 0, newWidthDemo, newHeightDemo);
        // tagJson.pop();
        tagJson.map((ele, inx) => {

            ctx.strokeStyle = 'red';
            ctx.strokeRect(ele['x0'], ele['y0'], ele['x1'], ele['y1']);

            ctx.fillStyle = "blue"; // Red color
            ctx.beginPath();



            ctx.arc(ele['dimension'].x, ele['dimension'].y, pointSize, 0, Math.PI * 2, true);
            ctx.fill();

            ctx.fillStyle = "white";
            ctx.font = '15px serif';
            ctx.fillText(inx + 1, ele['dimension'].x - 3, ele['dimension'].y + 5);

            // draw rec


        })
        areaOverview()
    }
</script>
<script>
    // $('.form').on("click", function (event) {
    //     $(this).hide();
    // })

    const deleteArea = async (id) => {
        console.log('came>>>>>>>>>>>>>>>>>>>>>>>>>>>>>', tagJson)
        await tagJson.splice(id, 1)
        console.log(tagJson, "::::::::::::")
        await redraw()

    }

    const categoryTag = (e) => {
        e.preventDefault();
        var recCord = tagCord[tagCord.length - 1];
        console.log(recCord, ":::::::::::::::::::::");
        var cat = $('#cat').val();
        var wid = $('#wid').val();
        var len = $('#len').val();
        var quan = $('#quan').val();

        tagJson.push({
            'areaNumber': cat,
            'dimension': {
                'width': wid,
                'length': len,
                'quantity': quan,
                'x': recCord.x,
                'y': recCord.y,
            },
            'x0': rect.startX,
            'y0': rect.startY,
            'x1': rect.w,
            'y1': rect.h,
        })
        // var centroidx = (rect.startX + rect.startY)/2 
        // var centroidy = (rect.w + rect.h) /2
        // rect.startX, rect.startY, rect.w, rect.h
        areaOverview()
        drawCoordinates(recCord.x, recCord.y, cat)
        redraw()


        $('#tagging_form').trigger('reset')
        $('#form').hide()

        console.log(tagJson, "????????????")

    }

    const clearCircle = () => {
        var lastCircle = tagCord[tagCord.length - 1]
        var radius = 4
        // ctx.beginPath();
        console.log(lastCircle.x, lastCircle.y, radius, 0, 2 * Math.PI, false);
        // ctx.save();
        // ctx.globalCompositeOperation = 'destination-out';
        // ctx.beginPath();
        // ctx.arc(lastCircle.x, lastCircle.y, radius, 0, 2 * Math.PI, false);
        // ctx.fill();
        // ctx.restore();
        // ctx.arc(lastCircle.x, lastCircle.y, radius, 0, 2 * Math.PI, false);
        // ctx.clip();
        // ctx.clearRect(lastCircle.x - radius - 1, lastCircle.x - radius - 1,
        //     radius * 2 + 2, radius * 2 + 2);

        $('#tagging_form').trigger('reset')
        $('#form').hide()
        tagCord.pop()
        console.log(tagCord, "???????")
        redraw()
    };
</script>
<script>
    // tabel$('#area_list').$('#$('#area_list').$('#area_list').$('#area_list').rea_list').
    const areaOverview = () => {

        var temp = ''
        $('#area_list').html('')
        tagJson.map((ele, inx) => {
            $('#area_list').append(`<tr>
                    <td>${inx + 1}</td>
                    <td>${ele['areaNumber']}</td>
                    <td>${ele['dimension']['width']}</td>
                    <td>${ele['dimension']['length']}</td>
                    <td>${ele['dimension']['quantity']}</td>
                    <td><button  type="button" onclick="deleteArea(${inx})" class="btn btn-danger btn-sm"> Delete </button></td>
                    </tr>`)

        })
        // $('#area_list').append(temp)
        // console.log(temp,"?????????")

    }
</script>

<script>
    var finalBound = []
    var rect = {};
    var drag = false;
    var imageObj = null;

    function init() {
        // imageObj = new Image();
        // imageObj.onload = function () {
        //     ctx.drawImage(imageObj, 0, 0);
        // };
        // imageObj.src = 'http://www.html5canvastutorials.com/demos/assets/darth-vader.jpg';
        canvas.addEventListener('mousedown', mouseDown, false);
        canvas.addEventListener('mouseup', mouseUp, false);
        canvas.addEventListener('mousemove', mouseMove, false);
    }

    function mouseDown(e) {
        rect.startX = e.pageX - this.offsetLeft;
        rect.startY = e.pageY - this.offsetTop;
        drag = true;
    }

    function mouseUp() {
        drag = false;
    }

    function mouseMove(e) {
        if (drag) {
            ctx.clearRect(0, 0, 500, 500);
            ctx.drawImage(img, 0, 0, newWidthDemo, newHeightDemo);
            rect.w = (e.pageX - this.offsetLeft) - rect.startX;
            rect.h = (e.pageY - this.offsetTop) - rect.startY;
            ctx.strokeStyle = 'red';
            ctx.strokeRect(rect.startX, rect.startY, rect.w, rect.h);
            console.log(rect, "??????????")

        }
    }
    //
    init();

    var jsonFinalize = {}
    $('#finalize-json').on('click', (e) => {
        e.stopPropagation()
        console.log(tagJson, "::::::::::::::")
        jsonFinalize['totalSiteDimension'] = {
            width: $('#width-floor').val(),
            length: $('#height-floor').val()
        }
        jsonFinalize['details'] = tagJson

        console.log(jsonFinalize, "::::::::::::::", $('#name-floor').val())

        var data = {
            floorname: $('#name-floor').val(),
            json: JSON.stringify(jsonFinalize),
            img:reader.result.split(',')[1]
        }
        $.ajax({
            type: "POST",
            url: "jsonWriter",
            async: false,
            data: data,
            complete: function (data) {
                // location.reload();
                console.log(file, ":::")
            }
        });
    })

   
</script>


<script>
    function calculateSize(img, maxWidth, maxHeight) {
        let width = img.width;
        let height = img.height;

        // calculate the width and height, constraining the proportions
        if (width > height) {
            if (width > maxWidth) {
                height = Math.round(height * maxWidth / width);
                width = maxWidth;
            }
        } else {
            if (height > maxHeight) {
                width = Math.round(width * maxHeight / height);
                height = maxHeight;
            }
        }
        return [width, height];
    }

    // Utility functions for demo purpose

    function displayInfo(label, file) {
        const p = document.createElement('p');
        p.innerText = `${label} - ${readableBytes(file.size)}`;
        document.getElementById('root').append(p);
    }

    function readableBytes(bytes) {
        const i = Math.floor(Math.log(bytes) / Math.log(1024)),
            sizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];

        return (bytes / Math.pow(1024, i)).toFixed(2) + ' ' + sizes[i];
    }
</script>
{%endblock%}

</html>